<div class="card-body">
  <h5 class="card-title">Badges</h5>
  <div class="card-text">
    <div>
      <span class="image-body">
        {{!-- {{#link-to "badges"}} --}}
        <img src="/assets/images/badges/2x_burned.png" class="img-fluid" alt="" title="FIRST BADGE">{{!-- {{/link-to}} --}}
      </span>
      <span class="image-body">
        <img src="/assets/images/badges/2x_burned.png" class="img-fluid" alt="" title="SECOND BADGE">
      </span>
    </div>
  </div>
</div>