<div class="col-12" onclick= {{action "notifyController"}}>
  <div class="card border-primary mb-3">
    <div class="card-header">
      <h4 class="card-title ">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#notifications"> Notifications </a>
      </h4>
    </div>
    <div class="card-block" id="notifications">
      <div class="list-group">
        {{#if notifications}}
          {{#each notifications as |notification|}}
            <li class="list-group-item">{{notification.message}}
              {{#if isEditable}}
                <a href="#" class="pull-right" {{action "deleteNotification" notification}} data-toggle="tooltip" data-placement="right"
                  title="Mark Notification As Read">
                  <span class="fa fa-times-circle" style="color:black"></span>
                </a>
              {{/if}}
            </li>
          {{/each}}
        {{else}}
          <small> No notifications</small>
        {{/if}}
      </div>
    </div>
  </div>
</div>