
<br>
<h5>Hours toward each task</h5>
      <div id="BarChart"  ></div><br>
      <div>
        <ul class="legend">
    <li><span class="superawesome"></span> Current Week</li>
    <li><span class="awesome"></span> Previous Week</li>
</ul>
</div><br>

<h5>Hours contributed by each team</h5>


<div class="row">

  <div id="LineChart" class="col-md-6"  ></div>
<div id="LineChart2" class="col-md-6"></div>

</div>





{{yield}}
