<div class="card text-center mb-3 pre-scrollable" style="background-color:#CC7272; height:100%">
  <div class="card-body">
    <h5 class="card-title">Hours Worked this week</h5>
    <div class="card-text h-100">
      {{ember-chart type='doughnut' data=hoursthisweek options= pieChartOptions animate=true}}
    </div>
  </div>
</div>