.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";    
    float: right;      
   // color: grey;         /* adjust as needed */
}
 .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    
}


form.submitted input:invalid {
    border: 2px solid red;
  }


div.submitModal  input:invalid {
    border: 2px solid red;
  }

  .actions
  {
    display :none
  }

  td:hover .actions
  {
    display: block
  }
  
  .leaderboardtable>thead>tr>th, .leaderboardtable>tbody>tr>th, .leaderboardtable>tfoot>tr>th, .leaderboardtable>thead>tr>td, .leaderboardtable>tbody>tr>td, .leaderboardtable>tfoot>tr>td {
    padding: 2px;
    font-size: x-small;
    }
  
    .progress
    {
      border-radius: 10px
    }

