.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";    
    float: right;      
   // color: grey;         /* adjust as needed */
}
 .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    
}


form.submitted input:invalid {
    border: 2px solid red;
  }


div.submitModal  input:invalid {
    border: 2px solid red;
  }

  .actions
  {
    display :none
  }

  td:hover .actions
  {
    display: block
  }

  .leaderboardtable
  {
    font-size: x-small;
    border-collapse: collapse;
    border:0;
    padding: 0px;
    
  } 

  .leaderboardtable td
  {
    padding:0; margin:0;
    
  }