.accordion-toggle:after {
   
    font-family: 'FontAwesome'; 
    content: "\f054";    
    float: right;        
}

.accordion-toggle.collapsed:after {
  /* symbol for down chevron*/
  content: "\f078";    
}

.dashboardbutton
{
  background-color: black;
    border: black;
}

.hgn-timer
{
  //background-color: #C57CD2;
  background-color: grey
 
}
.hgn-profilebox
{
  background-color:#1782B5
}

.hgn-leaderboard
{
  //background-color:#FFCCBC
  background-color: black
}

.hgn-badges
{
  background-color:#DA9962
}

.hgn-weeklyeffortchart
{
  background-color:#CC7272;
}
.hgn-monthlyeffortchart
{
  background-color:#A9D96C;
}




form.submitted input:invalid {
    border: 2px solid red;
  }

  form.submitted select:invalid {
    border: 2px solid red;
  }

div.submitModal  input:invalid {
    border: 2px solid red;
  }

  tr.submitted  input:invalid {
    border: 2px solid red;
  }
  
 
  
  .dashboardtable>thead>tr>th, .dashboardtable>tbody>tr>th, .dashboardtable>tfoot>tr>th, .dashboardtable>thead>tr>td, .dashboardtable>tbody>tr>td, .dashboardtable>tfoot>tr>td {
    padding: 2px;
    font-size: x-small;
    }
  
    .progress-leaderboard
    {
      border-radius: 10px
    }
 
    .progress-label {
      float: left;
      margin-right: 1em;
  }

  thead tr td
  {
    white-space: nowrap;
   
  }

  .tbltimelog
  {
    font-size: small;
    text-align: left;    
    width: 100%;
  }

  .dashboardimg
  {
    border-radius: 20px;
  }

.errorlist
{
  border : solid red 1px;
  color: red
}

.actions
{
  display :none
}

td:hover .actions
{
  display: block
}

div:hover .actions
{
  display: block;
  padding: 5px;
  color: white;
 

}

.tr-tangible-true
{
  background-color: #28a745!important
}

.tr-tangible-false
{
  background-color: #17a2b8!important;
}

.timelog-title
{
  border: solid black 1px;
  background: darkgray;
  text-align: center;
  font-size: 2.5rem;  
}

.profilepic
{
  height: 180px;
  width: 180px;
}

.addtimeicon
{
  color: green  
}

.badge-notify
{
  position: relative;
  background-color: red;
  color:white;
  top:-15px;
  left:-20px;
  font-size: large;
  border-radius: 100px;
}

.bell-large
{
  font-size: xx-large
}

.hgnnavbar
{
  color: #c7d1d8
}

.newProfilePic
{
  visibility:hidden;
  width: 0;
  height:0;
}

.weeklyeffort-red
{
  background: red; 
  color: black; 
}

.weeklyeffort-yellow
{
  background: yellow; 
  color: black;  
}

.weeklyeffort-green
{
  background: green;
  color: black; 
}