 {{outlet}}
<h1>Members list for {{project}} </h1>
<ul class="list-group">
  {{#each model as |member|}}
    <li> {{member.firstName}} {{member.lastName}}</li>
  {{/each}}
</ul>
{{#if isUserAdministator}}
  <button class="btn btn-primary btn-large">Edit Members</button>
{{/if}}