<form class="form-inline row {{isFormSubmitted}}" id="frmallTimeEntries">
    <label class="label" for="fromdate">From Date:</label>
    <input type="date" class="form-control mb-2 mr-sm-2" id="fromdate" required>
    <label class="label" for="todate">To Date:</label>
    <input type="date" class="form-control mb-2 mr-sm-2" id="todate" required>
    <button type="submit" class="btn btn-primary mb-2" {{action "getDataForPeriod"}}>Submit</button>
</form>
{{hgn-viewtimelog loggedinUser = loggedinUser forUserId = model.forUserId period = "custom" fromDate = datesarray.fromDate toDate = datesarray.toDate }}