{{#if isHeaderVisible}}
  {{hgn-header isUserAdministrator=isUserAdministrator notificationslength = notificationslength userId=userId model = model}}
{{/if}}
<div class="container">
  {{outlet}}
  <div id="destination">
    <!-- ember-wormhole -->
  </div>
</div>