{{#if isHeaderVisible}}
  {{hgn-header navigatetoProfile = (action "navigatetoProfile")}}
{{/if}}
<div class="container">
  {{outlet}}
  <div id="destination">
    <!-- ember-wormhole -->
  </div>
</div>