<div>
  <h4 class="card-title">Reports</h4>
  <h4 class="card-title">Project name: <i>{{projectName}}</i></h4>
  <div>
    <!--including component for charts display-->
    {{viewreports-charts projects=projects option=project_id }}
    <h5 class="card-title">Man-hours contributed to the project:</h5>
    <!--including component for teams display-->
    {{viewreports-teams teams=teams option=project_id persons=persons}}
  </div>
</div>
