<div>
   <h4 class="card-title">Reports</h4>
   <div class="">
      <h4 class="card-title">Project name: {{projectName}}</h4>
   </div>
   <p><i>Showing results for time period: {{dates.FromDate}} - {{dates.ToDate}}</i></p>
   <div id="weeks" style="display: none;">
      <ul>
         <li>Week</li>
      </ul>
   </div>
   <div>
      {{viewreports-charts timeentrydata = model.timeentrydata projectmembers=model.projectmembers previousweekdata = model.previuostimeentrydata}}
   </div>
</div>
